<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">My Project</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      temporibus hic. Enim, alias. Illo quo doloremque nemo porro saepe numquam
      doloribus suscipit excepturi iusto libero id, provident accusantium
      consequuntur ex.
    </p>
  </header>
  <div style="width: 30%; padding: 4rem" class="card card--secondary">
    <header class="card__header">Card title</header>
    <div class="card__body">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius deleniti
      error laboriosam ab facere vero illum neque aut, commodi asperiores?
    </div>
  </div>
</section>

<section class="block block--dark block--skewed--left">
  <div class="container">
    <h2 class="block__heading">My Project</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      temporibus hic. Enim, alias. Illo quo doloremque nemo porro saepe numquam
      doloribus suscipit excepturi iusto libero id, provident accusantium
      consequuntur ex.
    </p>
  </div>
</section>
