<button class="btn btn--outline" title="Click me">Buy Now</button>
<button class="btn btn--accent" title="Click me">Buy Now</button>
<button class="btn btn--secondary" title="Click me">Buy Now</button>
<button class="btn btn--block btn--primary" title="Click me">Buy Now</button>
<button class="btn btn--block btn--accent" title="Click me">Buy Now</button>
<button class="btn btn--block btn--secondary" title="Click me">Buy Now</button>
<a class="btn btn--block btn--secondary" title="Click me">Buy Now</a>