<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">This is a callout</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque
        incidunt aperiam deserunt quam accusamus ducimus itaque magnam
        dignissimos aliquam cum.
      </p>
    </div>
    <div class="callout__button">
      <a class="grid" href=""
        ><button href="#" class="btn btn--secondary btn--stretched">
          Get Started
        </button></a
      >
    </div>
  </div>
</div>
