<section class="block container block-domain">
  <header class="block__header">
    <h2 class="block__heading">The Best Web Hosting Starting At Per Month</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </header>
  <div class="input-group">
    <input
      type="text"
      title="input element"
      placeholder="Enter your name"
      class="input"
    />
    <button class="btn btn--accent" title="Click me">Search</button>
  </div>
  <ul class="list block-domain__prices">
    <li><span class="badge badge--secondary">.com 9$</span></li>
    <li><span class="badge badge--secondary">.sg 10$</span></li>
    <li><span class="badge badge--secondary">.space 11$</span></li>
    <li><span class="badge badge--secondary">.info 14$</span></li>
    <li><span class="badge badge--secondary">.net 10$</span></li>
    <li><span class="badge badge--secondary">.xyz 10$</span></li>
  </ul>
</section>
