<section class="block container">
    <header class="block__header feature-header">
      <h2>Host On The Cloud To Keep Growing</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, nesciunt.</p>
    </header>
    <div class="grid features">
    <article class="grid grid--1x2">
      <div>
        <img src="/images/features-icon-1.svg" alt="image icon" />
        <h3 class="features__heading">Lorem ipsum, dolor sit</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident,
          optio incidunt eaque doloribus nihil repellendus dicta ipsam nisi
          autem odio, itaque sed blanditiis, illo accusamus accusantium fugiat
          sapiente facilis harum!
        </p>
        <a class="link-arrow" rel="noopener" href="#" target="_blank"
          >Learn More</a
        >
      </div>
      <div class="features__image-container">
        <img
          class="features__image"
          src="/images/features-img-1.svg"
          alt="A person announcing"
        />
      </div>
    </article>
    
    <article class="grid grid--1x2">
      <div class="features__image-container">
        <img
          class="features__image"
          src="/images/features-img-2.svg"
          alt="A person announcing"
        />
      </div>
      <div>
        <img src="/images/features-icon-2.svg" alt="image icon" />
        <h3 class="features__heading">Lorem ipsum, dolor sit</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident,
          optio incidunt eaque doloribus nihil repellendus dicta ipsam nisi
          autem odio, itaque sed blanditiis, illo accusamus accusantium fugiat
          sapiente facilis harum!
        </p>
        <a class="link-arrow" rel="noopener" href="#" target="_blank"
          >Learn More</a
        >
      </div>
    </article>
  </div>
</section>