<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit aliquam
    vel a delectus aperiam doloribus quia nam eum rem id.
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <img
          class="quote__line"
          src="/images/horizontal-line.svg"
          alt="A line icon"
        />
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">John smith</h3>
        <p class="quote__organization">ABC Company</p>
      </div>
    </div>
  </footer>
</blockquote>
