<section class="block block--dark block--skewed--right block--showcased">
  <header class="block__header">
    <h2 class="block__heading">User-Friendly Control Panel</h2>
  </header>
  <div class="container grid grid--1x2">
    <img class="block-showcase__image" src="/images/showcase-img.svg" alt="image of computer" />
    <div>
      <div class="media">
        <div class="media__image">
          <img src="/images/image.svg" alt="An image icon" />
        </div>
        <div class="media__body">
          <h3 class="media__title">Easy Start & Managed Updates</h3>
          <p class="media__description">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Distinctio, atque voluptate quibusdam officiis aliquam odio. Iure
            culpa soluta at accusamus.
          </p>
        </div>
      </div>
      <div class="media">
        <div class="media__image">
          <img src="/images/image.svg" alt="An image icon" />
        </div>
        <div class="media__body">
          <h3 class="media__title">Easy Start & Managed Updates</h3>
          <p class="media__description">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Distinctio, atque voluptate quibusdam officiis aliquam odio. Iure
            culpa soluta at accusamus.
          </p>
        </div>
      </div>
      <div class="media">
        <div class="media__image">
          <img src="/images/image.svg" alt="An image icon" />
        </div>
        <div class="media__body">
          <h3 class="media__title">Easy Start & Managed Updates</h3>
          <p class="media__description">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Distinctio, atque voluptate quibusdam officiis aliquam odio. Iure
            culpa soluta at accusamus.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
