<section class="block">
  <header class="block__header">
    <h2>What Our Clients Are Saying</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, nesciunt.
    </p>
  </header>
  <div class="container">
    <div class="card testimonial">
      <div class="grid grid--1x2">
        <div class="testimonial__image-container">
          <img
            class="testimonial__main-image"
            src="images/testimonial-male.png"
            alt="A smiling man"
          />
          <img
            class="testimonial__side-image"
            src="images/double-quotes.svg"
            alt="Double Quotes"
          />
        </div>
        <blockquote class="quote">
          <p class="quote__text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit
            aliquam vel a delectus aperiam doloribus quia nam eum rem id.
          </p>
          <footer>
            <div class="media">
              <div class="media__image">
                <img
                  class="quote__line"
                  src="/images/horizontal-line.svg"
                  alt="A line icon"
                />
              </div>
              <div class="media__body">
                <h3 class="media__title quote__author">John smith</h3>
                <p class="quote__organization">ABC Company</p>
              </div>
            </div>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>
